body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p, blockquote {
    margin: 10px 0;
}

blockquote {
    margin-left: 20px;
    font-style: italic;
    color: #555;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff6f61;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contenedor {
    display:grid;
    grid-template-rows: 100px 1fr 100px;
    border-radius: 15px;
    border-color: black;
    border-style: 10px solid;
}

.cabecera {
    display:grid;
    background-color: #ff6f61;
    color: white;
    padding: 10px 0;
    text-align: center;
    grid-template-columns: 100px 400px 100px;
    grid-template-rows: 100px;
}

.cabecera > div {
    align-items: center;
}

.imgCabecera {
    height: 80px;
    width: 80px;
    align-items: center;
}
